@import "../../styles/Variables.scss";
.store-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    color: $color-gray-dark-3;
    font-size: 1.7rem;
    border: none;
    outline: 2px solid $color-gray-dark-4;
    &:focus {
      outline: 2px solid $color-primary;
    }
  }
  &__filter {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
  }
}
