$font-primary: "Cairo", sans-serif;

$color-primary: #6e29db;
$color-primary-dark: #581fb1;
$color-primary-dark-2: #37146d;

$color-secondary-light: #ff81f4;
$color-secondary: #e92d9c;

$color-tertiary: #ffbd1e;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #707070;
$color-gray-dark-2: #333;
$color-gray-dark-3: #555;
$color-gray-dark-4: #999;

$color-gray-light: #ccc;
$color-gray-light-2: #e7e7e7;
$color-gray-light-3: #f5f5f5;
$color-gray-light-4: #f8f8f8;

$color-blue-primary: #3cabf4;
$color-warning: #34495e;
$color-danger: #e74c3c;
$color-success: #5cc95c;

// $color-success: #ddf3dd;
$color-success-dark: #00c500;
$color-success-dark-2: #00d000;

// $color-danger: #f3dddd;
$color-danger-dark: #c50000;

$color-warning: #fff3cd;
$color-warning-dark: #856404;

$zIndex-1: 9;
$zIndex-2: 99;
$zIndex-3: 999;
$zIndex-4: 9999;
$zIndex-5: 99999;
