@import "../../styles/Variables.scss";

.income-table {
  padding: 6.5rem 2rem 1.5rem 2rem;
  background: linear-gradient(to bottom, $color-primary, $color-primary-dark);
  border-radius: 2rem;
  color: $color-white;
  font-size: 2rem;
  position: relative;

  &__intro {
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    width: calc(100% - 4rem);
  }

  &__title {
    font-size: 1.5rem;
  }

  &__wrapper {
    height: 35rem;
    overflow-y: scroll;
  }
}
