.add-bill-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--input {
      display: block;
      display: block;
      width: 50%;
      padding: 1rem 0.5rem;
    }
  }
  &--separator {
    grid-column: 1 / -1;
  }
}
