@import "../../../../styles/Variables.scss";

.add-bill-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr) min-content;
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  &:nth-child(even) {
    background: $color-gray-light-3;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--product-name {
      width: 80%;
    }
    &--input {
      display: block;
      display: block;
      width: 50%;
      padding: 1rem 0.5rem;
    }
    &--remove {
      color: $color-danger;
      font-size: 2rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }
  &--separator {
    grid-column: 1 / -1;
  }
}
